*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e7e7e7;
}
#logo{
    width: 80px;
}
h2 a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

#subTitulo{
    margin: 20px 0px;
    text-align: center;
}
#products-container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1800px;
    margin: auto;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
   
}
.producto{
    width: 190px;
    height: 200px;
    background-image: linear-gradient(to top, rgba(230, 186, 128, 0.507) 0%, rgba(234, 205, 163, 0.507) 100%),url(../img/coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 23px;
    margin-right: 23px;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
}
.producto h3{
    font-size: 19px;
}

.producto button{
    width: 45%;
    height: 30px;
    border-radius: 5px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.568);
    cursor: pointer;
}
.producto button:hover{
    background-color: rgb(248, 220, 184);
}

#cart-section{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1800px;
    margin: auto;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.ticketContent{
    width: 90%;
    max-width: 1800px;
    margin: auto;
}

.desglose{
    display: flex;
    justify-content: space-evenly;
}
.generalResumen{
    background-color: #fff;
     width: 25%;
     padding: 20px;
}
.contentTicket{
    background-color: #fff;
    width: 45%;
    
}
.tablaTotal{
    margin: auto;
    width: 80%;
    height: 150px;
}